<!DOCTYPE html>
<html>
<head>
	<title>Process</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
	<script src="https://vanhao.herokuapp.com/socket.io/socket.io.js"></script>
<!-- 	<script src="socket.io/socket.io.js"></script>
 -->	<script>
		var socket = io("https://vanhao.herokuapp.com");
		// var socket = io("http://localhost:8000/");
		socket.emit("led_1","OFF");

	</script>

</head>
<body>

</body>
</html>